@using CloudStorage.Controllers
@model Core.Entities.FileInfo

<h1>@Model.FileName</h1>
<div>Id: @Model.Id</div>
<div>File size in bytes: @Model.FileSizeInBytes</div>

<div>@Html.ActionLink("Home",nameof(HomeController.Index))</div>