@using Core.Entities
@model FileInfo

@{
    ViewBag.Title = $"Edit {Model.FileName}";
}

<div>
    <h1>Editing: @Model.FileName</h1>
    <div>
        <form method="post" asp-antiforgery="true">

            <input type="hidden" asp-for="Id" />

            <div>
                <label asp-for="FileName"></label>
                <input asp-for="FileName" />
                <span asp-validation-for="FileName"></span>
            </div>

            <div>
                <label asp-for="ContentType"></label>
                <select asp-for="ContentType" asp-items="@Html.GetEnumSelectList(typeof(FileContentType))"></select>
            </div>

            <div>
                <input type="submit" value="Save" />
            </div>
        </form>

    </div>
</div>