@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>

<environment names="Development">
    <p>We are debugging!</p>
</environment>

<div>
    @foreach (var fileInfo in Model.FileInfos)
    {
        @Html.Partial("_Summary", fileInfo)

        <hr />
    }
</div>

<div>
    <a asp-action="Upload">Upload</a>
</div>