@model CloudStorage.ViewModels.HomePageViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>

<div>
    @foreach (var fileInfo in Model.FileInfos)
    {
        <div>
            <div>
                <a href="/home/details/@fileInfo.Id">Details manual</a>
                @Html.ActionLink("View", "Details", new { id = fileInfo.Id })
                </div>
                <div>@fileInfo.FileName</div>
                <div>@fileInfo.FileSizeInBytes</div>
            </div>
            <hr />
    }
</div>

<div>
    <a href="/home/upload">Upload</a>
</div>

@section footer{
    <h3>@Model.Message</h3>
}