@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Welcome</h1>
</div>

<environment names="Development">
    <p>We are debugging!</p>
</environment>

<div>
    @if (Model.FileInfos != null && Model.FileInfos.Any())
    {
        foreach (var fileInfo in Model.FileInfos)
        {
            @Html.Partial("_Summary", fileInfo)

            <hr />
        }
    }
</div>

<div>
    <a asp-action="Upload" class="btn btn-primary">Upload</a>
</div>

<div>
    <a asp-action="TotalCompanyFilesSize">Total used space</a>
</div>

@section scripts{
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="~/js/IndexSignalR.js"></script>
}