@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Welcome, here are your files</h1>
</div>

<environment names="Development">
    <div class="alert alert-success">
        <p>We are debugging!</p>
    </div>
</environment>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="Query" class="control-label"></label>
        <input asp-for="Query" class="form-control" placeholder="Search in file names. Hit enter to search." autofocus />
        
        
        <div></div>
        <label asp-for="Query2" class="control-label"></label>
        <input asp-for="Query2" class="form-control" placeholder="Search in description. Hit enter to search." />
    </div>
    <input type="submit" value="Find" class="btn btn-default" id="find-button-description" />

 
</form>

<div class="row">
    <a asp-action="MyFiles" class="btn btn-info btn-lg btn-block" id="my-files">My Files</a>
</div>

<div>
    <label>@Html.ActionLink("Sort by Name", "Index", new { sortOrder = ViewBag.NameSortParm })</label>
    <div></div>
    <label>@Html.ActionLink("Sort by Size", "Index", new { sortOrder = ViewBag.SizeSortParm })</label>
    <div></div>
    <label>@Html.ActionLink("Sort by Type", "Index", new { sortOrder = ViewBag.ContentSortParm })</label>
</div>



<div class="row">
    @if (Model.FileInfos != null && Model.FileInfos.Any())
    {
        
        <div>
            @foreach (var fileInfo in Model.FileInfos)
            {
                @Html.Partial("_Summary", fileInfo)
            }
        </div>
    }
</div>





<div class="row">
    <a asp-action="Upload" class="btn btn-info btn-lg btn-block" id="upload-file">Upload</a>
</div>

@section scripts{
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="~/js/IndexSignalR.js"></script>
}