@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<form method="post" asp-antiforgery="true" class="form-signin">
    <h2 class="form-signin-heading">Login</h2>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username" class="sr-only"></label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password" class="sr-only"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="RememberMe" />
            Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="login">Sign in</button>
</form>