@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            <span>Hello, @User.Identity.Name</span>
        </div>
        <div class="col-md-6">
            <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
                <input class="btn btn-default" type="submit" value="Logout" />
            </form>
        </div>
    </div>
}
else
{
    <a asp-controller="Account" class="btn btn-default" asp-action="Register">Register</a>
    <a asp-controller="Account" class="btn btn-default" asp-action="Login">Login</a>
}