@model UploadViewModel

@{
    ViewBag.Title = "Upload";
}

<div>
    <h1>Upload</h1>
    <div>
        <form method="post" enctype="multipart/form-data" asp-action="Upload">
            <div class="form-group row">
                <label asp-for="UploadedFile" class="col-md-2"></label>
                <input type="file" asp-for="UploadedFile" class="col-md-10"/>
            </div>
            <div class="form-group row">
                <label asp-for="FileName" class="col-md-2"></label>
                <input type="text" asp-for="FileName"class="col-md-4"/>
                <span asp-validation-for="FileName"class="col-md-2"></span>
            </div>
            <div class="form-group row">
                <label asp-for="ContentType" class="col-md-2"></label>
                <select asp-for="ContentType" asp-items="@Html.GetEnumSelectList(typeof(FileContentType))" class="col-md-4"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>