@model UploadViewModel

@{
    ViewBag.Title = "Upload";
}

<div>
    <h1>Upload</h1>
    <div>
        <form method="post" enctype="multipart/form-data" asp-action="Upload">
            <div class="form-group">
                <label asp-for="UploadedFile"></label>
                <input type="file" asp-for="UploadedFile"/>
            </div>
            <div class="form-group">
                <label asp-for="FileName"></label>
                <input type="text" asp-for="FileName" />
                <span asp-validation-for="FileName"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentType"></label>
                <select asp-for="ContentType" asp-items="@Html.GetEnumSelectList(typeof(FileContentType))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="@nameof(HomeController.Index)">Home</a>
    </div>
</div>